.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    margin-left: 5%;
}

    .top-row img {
        height: 50px;
    }

.navbar-brand {
    font-size: 1.1rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.navitems {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: right;
    z-index: 99;
}

.nav-item {
    font-size: 0.9rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
}



    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: white;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: flex;
    }
}
